<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<style>
.container {   
         margin: 0 auto;
         width: 210px;
         
    }
body
    {
    
     background-image:url(/images/shoes1.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    }
h1 {
  text-align: center;
}
    
</style>
</head>
<body>
<a th:href="@{welcome}">Home Page</a><br><br><br><br><br>
<div class="container">
<form action="./updatepassword" method="post">
  <input type="hidden" name="admin-id" value="${changepassword.id}">
  <label for="admin_id">Admin ID:</label><br>
  <input type="text" id="admin_id" name="admin_id"><br>
  <label for="admin_name">Admin name:</label><br>
  <input type="text" id="admin_name" name="admin_name"><br>
  <label for="old_pwd">Old Password:</label><br>
  <input type="text" id="old_pwd" name="old_pwd"><br>
  <label for="admin_pwd">New Password:</label><br>
  <input type="text" id="admin_pwd" name="admin_pwd"><br><br>
  <input type="submit" value="Change Password">
 
</form>
</div>

</body>
</html>