<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Password Changed</title>
<style>
.container {   
         margin: 0 auto;
         width: 210px;
         
    }
body
    {
    
     background-image:url(/images/shoes7.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
    }
h1 {
  text-align: center;
}    
</style>
</head>
<body>
<div class=".container">
<a th:href="@{welcome}">Home Page</a><br><br><br><br><br>
<h1>Password Changed Successfully</h1>
</div>
</body>
</html>